body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to left bottom, yellow, blue);
    font-family: 'Courier New', Courier, monospace;
}

.heading {
    font-size: 30px;
    font-weight: 600;
}

.container {
    background: aliceblue;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    width: 450px;
    margin: 5px;
}

.btn {
    background-color: green;
    color: aliceblue;
    padding: 10px 30px;
    font-size: 16px;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 6px;
}

.btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.anime-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid green;
}

.anime-name {
    background-color: green;
    margin: 20px;
    color: aliceblue;
    padding: 10px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
}

.anime-container {
    display: none;
}